<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Create Class</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Operations</h2>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/all_operations">List Operations</a></li>
                <li><a href="/all_outputs">List Outputs</a></li>
                <li><a href="/all_activities">List Activities</a></li>
                <li><a href="/all_areas">List Areas</a></li>
                <li><a href="/all_classes">List Classes</a></li>
                <li><a href="/all_problems">List Problems</a></li>
                <li><a href="/all_users">List Users</a></li>
                <li><a href="/all_employees">List Employees</a></li>
                <li><a href="/all_departments">List Departments</a></li>
                <li><a href="/all_cities">List Cities</a></li>
                <li><a href="/all_districts">List Districts</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="container">
                {% if success_message %}
                <p class="success-message">{{ success_message | safe }}</p>
                {% endif %}
                {% if error_message %}
                <p class="error-message">{{ error_message | safe }}</p>
                {% endif %}
                <p>Create Class</p>
                <form action="/create_class" method="POST">
                    <div class="form-group">
                        <p>Class Name*</p>
                        <input type="text" name='class_name' placeholder="Class Name" class='input' />
                    </div>
                    <div class="form-group">
                        <p>Class Type(True | False)*</p>
                        <input type="text" name='class_type' placeholder="Class Type(True | False)" class='input' />
                    </div>

                    <div class="centered">
                        <input type="submit" value="Create Class" class='button'>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>